<div class="row">
<div class="col-md-4">
 
<p><b>Mow: </b>{% if location.wifi %}{{ location.get_wifi_display }}{% else %}----{% endif %}</p>
<p><b>Trim: </b>{% if location.seating %}{{ location.get_seating_display }}{% else %}----{% endif %}</p>
<p><b>Edge: </b>{% if location.outlets %}{{ location.get_outlets_display }}{% else %}----{% endif %}</p>
<p><b>Scoop Poop: </b>{% if location.bathrooms %}{{ location.get_bathrooms_display }}{% else %}----{% endif %}</p>
</div>
<div class="col-md-4">
<p><b>Resposiveness: </b>{% if location.coffee %}{{ location.get_coffee_display }}{% else %}----{% endif %}</p>
<p><b>Experience: </b>{% if location.alcohol %}{{ location.get_alcohol_display }}{% else %}----{% endif %}</p>
<p><b>Custom Patterns: </b>{% if location.outdoor %}{{ location.get_outdoor_display }}{% else %}----{% endif %}</p>
<p><b>Rate: </b>{% if location.food %}{{ location.get_food_display }}{% else %}----{% endif %}</p>
</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63845149-1', 'auto');
  ga('send', 'pageview');

</script>